@model Rectangle

<form asp-action="Add" method="post">
    <input asp-for="Width" type="number" required />
    <select asp-for="WidthUnit">
        <option value="mm">mm</option>
        <option value="cm">cm</option>
        <option value="m">m</option>
    </select>
    <input asp-for="Height" type="number" required />
    <select asp-for="HeightUnit">
        <option value="mm">mm</option>
        <option value="cm">cm</option>
        <option value="m">m</option>
    </select>
  
    <button type="submit">Calcualate Rectangle Area</button>
</form>
